h1{
    font-size: xx-large; font-family: 
    'Ink Free'; text-decoration-line: underline; 
    text-decoration-style: wavy;
    text-align: justify;
    margin: 58px
}
h2{
    text-align: justify;
    font-size: x-large;
    margin: 58px;
    background-color:rgb(255, 255, 14)
}
h3{
    text-align:justify;

}